{{template "header"}}
    <title>Login</title>
</head>
<body>
    <div class="container" style="width:500px;">
        <form method="post" action="/login" role="form">
            <div class="form-group">
                <label for="uname">Account</label>
                <input type="text" class="form-control" id="uname" placeholder="Enter account" name="uname">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="autoLogin">Auto Login
                </label>
            </div>
            <button type="submit" class="btn btn-default" onclick="return checkInput()">Login</button>
            <button class="btn btn-default" onclick="return backToHome()">Back</button>
        </form>
        <script type="text/javascript">
            function checkInput() {
                var uname = document.getElementById("uname");
                if (uname.value.length == 0){
                    alert("Please enter the account");
                    return false;
                }
                var pwd = document.getElementById("pwd");
                if (pwd.value.length == 0){
                    alert("Please enter password");
                    return false;
                }

                return true
            }

            function backToHome() {
                window.location.href = "/";
                return false;
            }
        </script>
    </div>
</body>
</html>